
.options{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.options > button {
    padding: 10px;
    color: white;
    background-color: #474F7A;
    border: 0.5px solid #474F7A;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    
}

.options > button:hover{
    background-color: #1F2544;
}
